.about {
  background-color: $blue;
  color: $light-pink;

  h1 {
    color: $light-pink;
    &::after {
      background: rgba($light-pink, 0.5);
    }
  }
  .info-container {
    // display: grid;
    // grid-template-columns: 3fr 1fr;
    // grid-column-gap: 4rem;
    @include tablet {
      display: flex;
    }
    .info {
      display: flex;
      flex-direction: column;
    }
    .profile-pic {
      width: 70%;
      margin: 0 auto;
      @include tablet {
        order: 1;
      }
      img {
        border-radius: 100%;
      }
    }
  }

  .btn-download {
    background-color: $teal;
    color: $light-pink;
    align-self: flex-start;
    margin-top: auto;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
    border-radius: 2rem;

    &:before {
      content: url("../img/icons/download.svg");
      height: 1.5em;
      width: 2em;
      margin-right: 0.85em;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
