body {
  color: $dark-blue;
  font-family: $f-main;
  line-height: 1.6;
  background: $light-pink;
  font-size: 1.125rem;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: $teal;
  font-weight: bold;
}
img {
  max-width: 100%;
}

h1,
h2,
p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1 {
  color: $blue;
  // line-height: 1;
  font-family: $f-ss;
  font-size: 3.125rem;
  font-weight: 400;
}

h2 {
  font-family: $f-s;
  font-size: 2rem;
  font-weight: 400;
}
.main-section {
  padding: 80px 0px;

  h1 {
    text-align: center;
    text-transform: uppercase;

    &::after {
      content: "";
      width: 10%;
      height: 1px;
      background: rgba($blue, 0.5);
      display: block;
      margin: 0.2em auto 0;
    }
  }
}
.container {
  width: 1170px;
  margin: 0 auto;
}
