.site-header {
  background: $dark-blue;
  padding: 1rem 4rem;
  display: flex;
  flex: 1 0 0;

  .logo {
    width: 60px;
  }

  .main-nav {
    margin-left: auto;
    li {
      display: inline-block;
    }
  }
}
